
<div class="container mt-2">
    <p class="fw-bolder"><span style="color: #274472 ;">ADD</span><span class="ms-2 text-danger">LOCATION</span></p>
    <div class="card">
        <div class="card-header bg-white">
            <form (ngSubmit)="addLocation(formValid)" #formValid="ngForm">
                <div class="row" >
                 <div class="col-md-3 mb-3">
                         <input type="text" class="form-control text-center" name="almirah_no" [(ngModel)]="LocationModel.almirah_no" id="deptName" required
                             placeholder="Enter Almirah No">
                 </div>
                 <div class="col-md-3 mb-3">
                         <input type="text" class="form-control text-center" name="shelf_no" [(ngModel)]="LocationModel.shelf_no" id="deptName" required
                             placeholder="Enter Shelf No">
                 </div>
               
                 <div class=" col-md-3 mb-3">
                         <button class="button2" type="submit">SUBMIT</button>
                 </div>
                 </div>
             </form>
        </div>

        <div class="card-body" style="color:#274472;border:2px solid #274472;">
            <p class="fw-bolder  text-center"><span style="color: #274472 ;">ALL</span><span class="ms-2 text-danger">LOCATION</span></p>
            <div class="students-table hide ">
                <div class="row  justify-content-between">
                    <div class="col-md-2 mb-2">
        
                    </div>
                    <div class="col-md-3 mb-2">
                        <input type="text" class="form-control text-center" placeholder="Search Here"
                            [(ngModel)]="Location_search">
                    </div>
                </div>
                <div class="">
                    <div class="table-responsive">
                        <table class="custom-table table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Sl.no</th>
                                    <th>Almirah No</th>
                                    <th>Shelf No</th>
                                    <!-- <th>Rack No</th> -->
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let loc of Location | forLocation:Location_search; let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <ng-container *ngIf="!loc.isEditing; else editRow">
                                    <td>{{ loc.almirah_no }}</td>
                                    <td>{{ loc.shelf_no }}</td>
                                    <!-- <td>{{ loc.rack_no }}</td> -->
                                    
                                    <td>
                                      <span class="me-5" (click)="EditLocation(loc)"><i class="fas fa-edit"></i></span>
                                      <span *ngIf="isSuperAdmin" (click)="DeleteLocation(loc.location_id)"><i class="fas fa-trash-alt"></i></span>
                                    </td>
                                  </ng-container>
                                  <ng-template #editRow>
                                   
                                    <td><input class="form-control" name="almirah_no" type="text" [(ngModel)]="loc.almirah_no" /></td>
                                    <td><input class="form-control" name="shelf_no" type="text" [(ngModel)]="loc.shelf_no" /></td>
                                    <!-- <td><input class="form-control" name="rack_no" type="text" [(ngModel)]="loc.rack_no" /></td> -->
                                    <td>
                                      <button class="button2" (click)="UpdateLocation(loc, loc.location_id)">Update</button>
                                      <button class="button1 ms-3" (click)="CancelEdit(loc)">Cancel</button>
                                    </td>
                                  </ng-template>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>