<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <img [src]="imgpath+userImage" alt="Logo" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-2" width="150px" style="height: 155px;">
            <p class="mb-3 fw-bolder">{{user_name}}</p>
          </div>
          <form [formGroup]="passwordForm" (ngSubmit)="checkOldPswd(confirmPassword.value)">
            <div class="mb-3">
              <!-- <label for="currentPassword" class="form-label">Current Password</label> -->
              <div class="input-group">
                <input type="{{ showMobileNumber1 ? 'text' : 'password' }}" class="form-control text-center" id="oldPassword" required placeholder="Enter Old Password" name="old_password" [(ngModel)]="cp.old_password" formControlName="oldPassword">
                <span class="input-group-text" (click)="togglePasswordVisibilityOld()">
                  <i class="{{ showMobileNumber1 ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <!-- <label for="newPassword" class="form-label">New Password</label> -->
              <div class="input-group">
                <input type="{{ showMobileNumber2 ? 'text' : 'password' }}" class="form-control text-center" id="newPassword" [(ngModel)]="cp.new_password" name="new_password" required placeholder="Enter New Password" formControlName="newPassword" >
                <span class="input-group-text" (click)="togglePasswordVisibilityNew()">
                  <i class="{{ showMobileNumber2 ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <!-- <label for="confirmPassword" class="form-label">Confirm New Password</label> -->
              <div class="input-group">
                <input type="{{ showMobileNumber3 ? 'text' : 'password' }}" class="form-control text-center" #confirmPassword required placeholder="Enter Confirm Password" formControlName="confirmPassword">
                <span class="input-group-text" (click)="togglePasswordVisibilityConfirm()">
                  <i class="{{ showMobileNumber3 ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
                </span>
              </div>
            </div>
            <div class="text-center">
              <button class="button2">Change Password</button>
              <!-- <p class="success-message">{{ successMessage }}</p>
              <p class="error-message">{{ errorMessage }}</p> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>