<div class="container">

    <div class="row mt-3">
        <div class="col p-2" style="color:#274472;border:2px solid #274472;">
            <h6 class="p-2 text-center"  style="color:#274472;">Daily Book <span class="text-danger">Transaction</span></h6>
            <div class="table-responsive">
                <table class="table mx-2" id="example">
                  <thead>
                    <tr>
                        <th>Acces_no</th>
                        <th>Book_title</th>
                        <th>Volume</th>
                        <th>Almira_no</th>
                        <th>Self_no</th>
                        <th>Rack_no</th>
                        <th>Card_no</th>
                        <th>Department</th>
                        <th>Type_of_issue</th>
                        <th>Issue_date</th>
                        <th>Issued_by</th>
                        <th>Return_date</th>
                        <th>Returned_by</th>
                    </tr>
                 </thead>
                 <tbody>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>Departmental</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>student</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>Employee</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>Departmental</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>Departmental</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>Departmental</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>Departmental</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>Departmental</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>Departmental</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>Departmental</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>Departmental</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                  </tr>
                  
              </tbody>
              <tfoot>
                  <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>vol-1</td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>61</td>
                    <td>21</td>
                    <td>Departmental</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    <td>2011-04-25</td>
                    </tr>
              </tfoot>
                </table>
              </div>
        </div>
    </div>

</div>

