.button2{
  background-color: #274472;
  color:white;
  border: none; 
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -1px 1px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.825), 0 6px 20px 0 rgba(0,0,0,0.19);
}



span{
  cursor: pointer;
}



.custom-table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.custom-table th {
  background-color:  #274472;
  text-align: left;
  color: white;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tr:hover {
  background-color: #e9e9e9;
}

.custom-table td {
  text-align: left;
}


/* =====================Arrow-CSS======================= */

ul {
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}

ul li {
  display: inline-block;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: sans-serif;
}

ul li.active {
  background:  #274472;
  color: #fff;
}

ul li a {
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  position: relative;
  display: block;
}

ul li.active a:before, ul li.active a:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent transparent white;
  border-width: 20px;
  left: 0px;
}

ul li.active a:after {
  content: "";
  right: -40px;
  left: auto;
  border-color: transparent transparent transparent  #274472;
}

ul li.active a {
  padding-left: 30px;
}

/* Responsive adjustments */
@media (min-width: 576px) {
  ul li {
    width: 33.33%;
  }
}

@media (min-width: 768px) {
  ul li {
    width: 25%;
  }
}

@media (min-width: 992px) {
  ul li {
    width: 20%;
  }
}