
<div class="container mt-3">
  <p class="fw-bolder"><span style="color: #274472 ;">ADD</span><span class="ms-2 text-danger">COURSES</span></p>
    <div class="card">
      <div class="card-header bg-white mt-2">
        <form (ngSubmit)="addCourse(FormValid)" #FormValid="ngForm">
       <div class="row justify-content-center">
          <!-- <div class="col-md-4">
              <ng-select name="college_id" class="mb-3"
                          [(ngModel)]="CourseModel.college_id" 
                          [items]="allCollege" appendTo="body"
                          placeholder="Select College" [addTag]="true"
                          bindValue="college_id" bindLabel="college_name" required>
              </ng-select>
          </div> -->

          <div class="col-md-4 mb-3">
            <div class="input-group">
              <input type="text" name="course_name" class="form-control text-center" id="CourseName"
                      placeholder="Enter Course Name" [(ngModel)]="CourseModel.course_name" required>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="input-group">
              <div class="text-center">
                <button type="submit" class="button2">SUBMIT</button>
              </div>
            </div>
          </div>
        
        </div>
      </form>
      </div>
      <div class="card-body" style="color:#274472;border:2px solid #274472;">
        <p class="fw-bolder text-center"><span style="color: #274472 ;">ALL</span><span class="ms-2 text-danger">COURSES</span></p>
        <div class="students-table hide mt-3">
          <div class="row  justify-content-between">
            <div class="col-md-2 mb-2">

            </div>
            <div class="col-md-3 mb-2">
                <input type="text" class="form-control text-center" placeholder="Search Here"
                    [(ngModel)]="course_search">
            </div>
        </div>
          <div class="">
              <div class="table-responsive">
                  <table class="custom-table table table-bordered table-striped" id="example">
                      <thead>
                        <tr>
                          <th>Sl.no</th>
                          <!-- <th>College Name</th> -->
                          <th>Course Name</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let course of Courses| forCourse:course_search | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
                          <td>{{(p - 1) * 6 + i + 1}}</td>
                          <ng-container *ngIf="!course.isEditing; else editRow">
                            <!-- <td>{{ course.college_name }}</td> -->
                            <td>{{ course.course_name }}</td>
                            <td>
                              <span class="me-5" (click)="EditCourse(course, i)"><i class="fas fa-edit"></i></span>
                              <span *ngIf="isSuperAdmin" (click)="DeleteCourse(course.course_id)"><i class="fas fa-trash-alt"></i></span>
                            </td>
                          </ng-container>
                          <ng-template #editRow>
                            <!-- <td>
                              <select class="form-select" name="college_id" [(ngModel)]="course.college_id">
                                <option *ngFor="let college of allCollege" [value]="college.college_id">
                                  {{ college.college_name }}
                                </option>
                              </select>
                            </td> -->
                            <td><input class="form-control" type="text" [(ngModel)]="course.course_name" /></td>
                            <td>
                              <button class="button2" (click)="UpdateCourses(course, course.course_id)">Update</button>
                              <button class="button1 ms-3" (click)="CancelEdit(course)">Cancel</button>
                            </td>
                          </ng-template>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    
              </div>
          </div>
      </div>
      </div>
    </div>

   
</div>