/* .container-fluid{
    background-color:ghostwhite;
} */

.my-body{
    margin: 20px 100px 50px 100px;
    background-color: white;
    min-height: 500px;
    box-shadow: 10px 10px 10px 10px #1f1f1f;
}
.my-head{
    min-height: 60px;
}

.navbar-expand-md{
    background-color: ghostwhite;
}
h5{
    font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:#274472;
        margin-left: 5px;
        margin-top: 8px;
    }
.bt{
    width: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #274472;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    border-radius: 50px;
    border: 1px solid #274472;
    padding: 4px;
    box-shadow: 2px 2px 2px 2px #888888;
}
h1{
    padding:100px;
    font-size: 50px;
    font-weight: 900;
    /* background-image: url("https://i.pinimg.com/736x/b1/30/1f/b1301f8a753a2fc4a6f1e92c434dc33c--sensual-seduction-colour-red.jpg");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
}

@media(max-width:900px){
    .my-body{
        margin: 20px;
        box-shadow: 5px 5px 5px 5px #888888;
    }

    .bt{
       margin-top: 10px;
    }
    /* h5{
        font-weight: 600;
            font-size: 15px;
            margin-left:0px;
            margin-top: auto;
        }*/
        img{
            width: 300px;
        } 
        h1{
            padding:20px;
        }
}