.barcode-svg {
  width: 25mm; /* Set an appropriate width */
  height: 50mm; /* Set an appropriate height */
}

/* svg {
  width: 170px;
  height: auto;
  margin-top: 80px;
} */

.button3 {
  background: #274472;
  color: white;
  border: none;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -1px 1px;
  transition: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.825), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 37px; /* Set the desired height */
  width: 70px;
}

  /* Hide the scrollbar when printing */
  @media print {
.pk{
  margin-top: 50px;
}
  
  }