<div class="container">
    <div class="row mt-2">
        <h6 class="mt-2"  style="color:#274472">Add Navigation <span class="text-danger">Page Name</span></h6>
        <div class="col d-md-flex mb-3 gap-3">
            <input type="text" class="form-control input my" placeholder="Enter role name">
            <button class="btn btn-primary input">+Add</button>
        </div>
    </div>

    <div class="row mt-2" style="border:1px solid #274472;border-radius:5px;">
        <div class="col p-3">
            <div class="table-responsive">
                <table id="example" class="table">
                  <thead>
                    <tr>
                        <th>Sl_no</th>
                        <th>Page Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                   <td>1</td>
                    <td>Add Role</td>
                    <td class="d-flex mt-3" ><button type="button" class="btn text-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button>||<button class="btn text-danger"><i class="fa-solid fa-trash"></i></button></td>
                  </tr>
                  <tr>
                   <td>1</td>
                    <td>Add Role</td>
                    <td class="d-flex mt-3" ><button type="button" class="btn text-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button>||<button class="btn text-danger"><i class="fa-solid fa-trash"></i></button></td>
                  </tr>
                  <tr>
                   <td>1</td>
                    <td>Add Role</td>
                    <td class="d-flex mt-3" ><button type="button" class="btn text-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button>||<button class="btn text-danger"><i class="fa-solid fa-trash"></i></button></td>
                  </tr>
                  <tr>
                   <td>1</td>
                    <td>Add Role</td>
                    <td class="d-flex mt-3" ><button type="button" class="btn text-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button>||<button class="btn text-danger"><i class="fa-solid fa-trash"></i></button></td>
                  </tr>
                  <tr>
                   <td>1</td>
                    <td>Add Role</td>
                    <td class="d-flex mt-3" ><button type="button" class="btn text-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button>||<button class="btn text-danger"><i class="fa-solid fa-trash"></i></button></td>
                  </tr>
                  <tr>
                   <td>1</td>
                    <td>Add Role</td>
                    <td class="d-flex mt-3" ><button type="button" class="btn text-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button>||<button class="btn text-danger"><i class="fa-solid fa-trash"></i></button></td>
                  </tr>
                  <tr>
                   <td>1</td>
                    <td>Add Role</td>
                    <td class="d-flex mt-3" ><button type="button" class="btn text-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button>||<button class="btn text-danger"><i class="fa-solid fa-trash"></i></button></td>
                  </tr>
                  <tr>
                   <td>1</td>
                    <td>Add Role</td>
                    <td class="d-flex mt-3" ><button type="button" class="btn text-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button>||<button class="btn text-danger"><i class="fa-solid fa-trash"></i></button></td>
                  </tr>
                  <tr>
                   <td>1</td>
                    <td>Add Role</td>
                    <td class="d-flex mt-3" ><button type="button" class="btn text-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button>||<button class="btn text-danger"><i class="fa-solid fa-trash"></i></button></td>
                  </tr>
                  <tr>
                   <td>1</td>
                    <td>Add Role</td>
                    <td class="d-flex mt-3" ><button type="button" class="btn text-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button>||<button class="btn text-danger"><i class="fa-solid fa-trash"></i></button></td>
                  </tr>
                  
              </tbody>
              <tfoot>
                  <tr>
                    <th>Sl_no</th>
                    <th>Page Name</th>
                    <th>Action</th>
                    </tr>
              </tfoot>
                </table>
              </div>
        </div>
    </div>
</div>







  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <form>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Nav_Page</h5>
          <button type="button" class="btn text-primary-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <div class="mb-3">
                  <label  class="form-label">Page Id</label>
                  <input type="text" value="432"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Page Name</label>
                  <input type="text" value="ugandian" class="form-control" id="exampleInputPassword1"/>
                </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add</button>
        </div>
      </div>
    </form>
    </div>
  </div>
