/*#9F2B68*/
.btn-show{
    background:  #274472; width: 190px; gap:20px;
    border-radius: 20px;
    border: 2px solid #274472;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color:white;
}
/* .pow{
    border: 2px solid #202A44;
} */

label {
    font-weight: 600;
    color: #666;
}
body {
  background: #f1f1f1;
}
.box8{
  box-shadow: 0px 0px 5px 2px #999;
}
.mx-t3{
  margin-top: -3rem;
}