<div class="container">
    <div class="row mt-2">
        <h6 class="mt-2"  style="color:#274472">Remove <span class="text-danger">Navigation</span></h6>
    </div>

    <div class="row mt-2 mb-4" style="border:1px solid #274472;border-radius:5px;">
        <div class="col p-3">
            <div class="table-responsive">
                <table id="example" class="table">
                  <thead>
                    <tr>
                        <th>Sl_no</th>
                        <th>Page name</th>
                        <th>Role Name</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                   <td>1</td>
                    <td>Add Job role</td>
                    <td>Librarian</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                  </tr>
                   <tr>
                   <td>1</td>
                    <td>Add Job role</td>
                    <td>Librarian</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                  </tr>
                   <tr>
                   <td>1</td>
                    <td>Add Job role</td>
                    <td>Librarian</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                  </tr>
                   <tr>
                   <td>1</td>
                    <td>Add Job role</td>
                    <td>Librarian</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                  </tr>
                   <tr>
                   <td>1</td>
                    <td>Add Job role</td>
                    <td>Librarian</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                  </tr>
                   <tr>
                   <td>1</td>
                    <td>Add Job role</td>
                    <td>Librarian</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                  </tr>
                   <tr>
                   <td>1</td>
                    <td>Add Job role</td>
                    <td>Librarian</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                  </tr>
                   <tr>
                   <td>1</td>
                    <td>Add Job role</td>
                    <td>Librarian</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                  </tr>
                   <tr>
                   <td>1</td>
                    <td>Add Job role</td>
                    <td>Librarian</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                  </tr>
                   <tr>
                   <td>1</td>
                    <td>Add Job role</td>
                    <td>Librarian</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                  </tr>
                  
              </tbody>
              <tfoot>
                  <tr>
                    <th>Sl_no</th>
                        <th>Nav_name</th>
                        <th>Assign</th>
                    </tr>
              </tfoot>
                </table>
              </div>
        </div>
      
    </div>
</div>
